{% extends "base.html" %}
{% block title %}
Perfil
{% endblock %}

{% block content %}

<div>
	<div>
	
	</div>
	<div>
		<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Editar</button>
		<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Catálogos</button>
		<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Blog</button>
		<button type="button"  class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Mensaje</button>
	</div>
</div>



{% endblock %}